{% extends "base.html" %}
{% block content %}
    <main role="main" class="flex-shrink-0">
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>What is Sonification?</h1>
                <p id="firstP" class="lead">The process of converting data to music</p>
            </div>
            <div class="row">
                <div class="col-sm-1">From</div>
                <div class="col-sm-4">
                    <img src="{{ url_for('home_bp.static', filename='Capchart.PNG') }}" alt="chart" width="347.3" height="220">
                </div>
                <div class="col-sm-1">To</div>
                <div class="col-sm-6">
                    <img src="{{ url_for('home_bp.static', filename='CapMusic.PNG') }}" alt="Music" width="671" height="102.5">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h2>Enables the Visually Challenged</h2>
                    <p>
                        Over 10% of American adults have some kind of visual impairment. Sonification presents another
                        way for these individuals to complete their work.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Supports Multitasking of Activities</h2>
                    <p>
                        Listening one of the most passive forms of learning, and can be performed even during the
                        completion of a different task.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>A Quicker Way to Process Charts</h2>
                    <p>
                        Sonification presents a way to quickly summarize large quantities of data, while maintaining
                        listener differentiability
                    </p>
                </div>
                <style>
                    #firstP {
                        margin-top: 10px;
                    }

                    .row {
                        background-color: #fff;
                        margin-top: 10px;
                        margin-bottom: 40px;
                    }
                </style>
            </div>
        </div>
    </main>
{% endblock %}