{% extends "base.html" %}
{% block content %}
<style>
    .col-fluid {
        margin-left: 15px;
    }

    .themed-grid-col {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 15px;
        margin-right: 7px;
        background-color: rgba(38, 38, 38, .15);
        border: 1px solid rgba(38, 38, 38, .2);
    }
</style>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Manage databases</h1>
        <p class="lead">Create and delete databases that store time series data.</p>
        <form action="#" method="post">
            <div class="row mb-3">
                <div class="col-fluid">
                    <input type="text" class="form-control" name="dbName" placeholder="Database name" value="" required>
                </div>
                <div class="col-fluid">
                    <button type="submit" class="btn btn-success" name="action" value="create">Create</button>
                </div>
            </div>
        </form>
        <form action="#" method="post">
            {% for x in range(tuples_dbs|length) %}
            <div class="row mb-3">
                {% for db in tuples_dbs[x] %}
                <div class="col-2 themed-grid-col">{{db}}</div>
                {% if db == 'telegraf' or db == '_internal' %}
                <button type="submit" class="btn btn-danger" disabled name="NA" value="NA">Delete</button>
                {% else %}
                <button type="submit" class="btn btn-danger" name="action" value="delete-{{db}}">Delete</button>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </form>
        <p class="lead">System databases such as <code>telegraf</code> and <code>_internal</code> can not be deleted.
        </p>

        <h1 class="mt-5">Generate randomized time series data</h1>
        <p class="lead">Fill a database with randomly generated time series data to <a href="../sonify">sonify</a>.</p>
        <form action="#" method="post">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="database">Database</label>
                    <select class="custom-select" id="database" name="database" required>
                        {% for db in list_dbs %}
                        {% if db != 'telegraf' and db != '_internal' %}
                        <option>{{db}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="measurement">Measurement</label>
                    <input type="text" class="form-control" id="measurement" name="measurement"
                           placeholder="Measurement" value="" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="tagName">Tag name (Optional)</label>
                    <input type="text" class="form-control" id="tagName" name="tagName" placeholder="Tag name" value="">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="tagValue">Tag value (Optional)</label>
                    <input type="text" class="form-control" id="tagValue" name="tagValue" placeholder="Tag value"
                           value="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="datetime">Datetime</label>
                    <input class="form-control" type="datetime-local" value="{{datetimeF}}" id="datetime"
                           name="datetime" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="interval">Interval</label>
                    <select class="custom-select" id="interval" name="interval" required>
                        <option>Minute</option>
                        <option>Hourly</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="iterations">Iterations</label>
                    <input type="number" class="form-control" id="iterations" name="iterations" value="300">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="fieldName">Field name</label>
                    <input type="text" class="form-control" id="fieldName" name="fieldName" placeholder="Field name"
                           value="" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="min">Minimum field value</label>
                    <input type="number" class="form-control" id="min" name="min" value="50">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="max">Maximum field value</label>
                    <input type="number" class="form-control" id="max" name="max" value="250">
                </div>
            </div>
            <button type="submit" class="btn btn-success" name="action" value="generate">Generate</button>
        </form>
        <h1 class="mt-5">Import data</h1>
        <p class="lead">maybe later</p>
    </div>
</main>
{% endblock %}